In [1]:
import datetime

In [9]:
t=datetime.time(1,5,3,5)

In [10]:
t

datetime.time(1, 5, 3, 5)

In [11]:
print(t)

01:05:03.000005

In [12]:
t.hour

1

In [13]:
t.microsecond

5

In [14]:
t.second

3

In [18]:
print(datetime.time.min,datetime.time.max,datetime.time.resolution)

00:00:00 23:59:59.999999 0:00:00.000001

In [19]:
today = datetime.date.today()

In [20]:
print(today)

2020-02-08

In [21]:
today.timetuple()

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=8, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=39, tm_isdst=-1)

In [22]:
today.day

8

In [23]:
print(datetime.date.min,datetime.date.max)

0001-01-01 9999-12-31

In [25]:
d1 = datetime.date(2019,5,5)

In [26]:
print(d1)

2019-05-05

In [27]:
d2=d1.replace(year=2014)

In [30]:
print(d1,d2)

2019-05-05 2014-05-05

In [31]:
d1-d2

datetime.timedelta(days=1826)