In [3]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

for letter in 'abcde':
    print(letter)

In [6]:
for letter in 'abcde':
    print(letter)

a
b
c
d
e

In [10]:
for item in enumerate('abcde'):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [1]:
l1=[1,2,3]
l2=[4,5,6]
for item in zip(l1,l2):
    print(item)

(1, 4)
(2, 5)
(3, 6)

In [3]:
1 in l1

True

In [8]:
if (1 in l1)==True:
    print("True")

True

In [10]:
'mkey' in {'mkey':345}

True

In [12]:
d={'mkey':345}

In [13]:
345 in d.values()

True

In [14]:
max(l1)

3

In [15]:
from random import shuffle

In [18]:
shuffle(l1)

In [19]:
l1

[3, 1, 2]

In [20]:
from random import randint

In [25]:
randint(0,100)

22

In [30]:
l1 = [num*2 for num in range(0,10) if num%2==0]

In [31]:
l1

[0, 4, 8, 12, 16]